.TodoContainer {
  background-color: white;
  min-height: 30rem;
  width: 40vw;

  padding: 1.3rem;
  box-shadow: -1px 1px 8px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: -1px 1px 8px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -1px 1px 8px 3px rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .spinerContainer {
    text-align: center;
  }
}

@media (max-width: 1380px) {
  .TodoContainer {
    width: 70vw;
  }
}

@media (max-width: 680) {
}
